
.idea/.name
.idea/artifacts/IRE_jar.xml
.idea/misc.xml
.idea/modules.xml
.idea/shelf/Uncommitted_changes_before_rebase__Default_Changelist_.xml
.idea/shelf/Uncommitted_changes_before_rebase__Default_Changelist_1.xml
.idea/shelf/Uncommitted_changes_before_rebase__Default_Changelist_2.xml
.idea/shelf/Uncommitted_changes_before_rebase__Default_Changelist_3.xml
.idea/shelf/Uncommitted_changes_before_rebase__Default_Changelist_4.xml
.idea/shelf/Uncommitted_changes_before_rebase__Default_Changelist_5.xml
.idea/shelf/Uncommitted_changes_before_Update_at_2021-02-24_9_14_PM__Default_Changelist_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_2021-02-24_9_44_PM__Default_Changelist_.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
IdeaProjects.iml
out/artifacts/IRE.jar
out/artifacts/run.bat
out/artifacts/runShortcut.ahk
out/artifacts/SaveFile.txt
out/artifacts/sounds/celestial.wav
out/artifacts/sounds/celestialBlast.wav
out/artifacts/sounds/congratulations.wav
out/artifacts/sounds/fire.wav
out/artifacts/sounds/fireStorm.wav
out/artifacts/sounds/hit1.wav
out/artifacts/sounds/humanDeath.wav
out/artifacts/sounds/leech.wav
out/artifacts/sounds/letsGo.wav
out/artifacts/sounds/lightning.wav
out/artifacts/sounds/lightningStorm.wav
out/artifacts/sounds/lunar.wav
out/artifacts/sounds/lunarBlast.wav
out/artifacts/sounds/lunge1.wav
out/artifacts/sounds/menuBeep.wav
out/artifacts/sounds/menuBoop.wav
out/artifacts/sounds/menuError.wav
out/artifacts/sounds/mind.wav
out/artifacts/sounds/mindBlast.wav
out/artifacts/sounds/placeholder.wav
out/artifacts/sounds/roar.wav
out/artifacts/sounds/rock.wav
out/artifacts/sounds/rockSmash.wav
out/artifacts/sounds/shortBoop.wav
out/artifacts/sounds/skeletonDeath.wav
out/artifacts/sounds/sneeze.wav
out/artifacts/sounds/solar.wav
out/artifacts/sounds/solarBlast.wav
out/artifacts/sounds/soul.wav
out/artifacts/sounds/soulDrain.wav
out/artifacts/sounds/strike1.wav
out/artifacts/sounds/win.wav
out/artifacts/startArt.txt
out/production/IdeaProjects/ire/audio/AudioClip.class
out/production/IdeaProjects/ire/audio/AudioStream.class
out/production/IdeaProjects/ire/combat/actions/Action.class
out/production/IdeaProjects/ire/combat/actions/attackactions/AttackAction.class
out/production/IdeaProjects/ire/combat/actions/attackactions/physicalattacks/Lunge.class
out/production/IdeaProjects/ire/combat/actions/attackactions/physicalattacks/PhysicalAttack.class
out/production/IdeaProjects/ire/combat/actions/attackactions/physicalattacks/Stab.class
out/production/IdeaProjects/ire/combat/actions/attackactions/spellattacks/Celestial.class
out/production/IdeaProjects/ire/combat/actions/attackactions/spellattacks/DebuffSpell.class
out/production/IdeaProjects/ire/combat/actions/attackactions/spellattacks/Lunar.class
out/production/IdeaProjects/ire/combat/actions/attackactions/spellattacks/Solar.class
out/production/IdeaProjects/ire/combat/actions/attackactions/spellattacks/SpellAttack.class
out/production/IdeaProjects/ire/combat/actions/defenseactions/DefenseAction.class
out/production/IdeaProjects/ire/combat/actions/defenseactions/physicaldefenses/Counter.class
out/production/IdeaProjects/ire/combat/actions/defenseactions/physicaldefenses/PhysicalDefense.class
out/production/IdeaProjects/ire/combat/actions/defenseactions/physicaldefenses/Shield.class
out/production/IdeaProjects/ire/combat/actions/defenseactions/spelldefenses/Screen.class
out/production/IdeaProjects/ire/combat/actions/defenseactions/spelldefenses/SpellDefense.class
out/production/IdeaProjects/ire/combat/Battle.class
out/production/IdeaProjects/ire/combat/BattleEffect.class
out/production/IdeaProjects/ire/combat/statuseffects/StatusEffect.class
out/production/IdeaProjects/ire/entities/enemies/Skeleton.class
out/production/IdeaProjects/ire/entities/enemies/TrainingDummy.class
out/production/IdeaProjects/ire/entities/Enemy.class
out/production/IdeaProjects/ire/entities/Entity.class
out/production/IdeaProjects/ire/entities/Player.class
out/production/IdeaProjects/ire/Main.class
out/production/IdeaProjects/ire/Test.class
out/production/IdeaProjects/ire/tools/SaveData.class
out/production/IdeaProjects/ire/tools/Tools.class
out/production/IdeaProjects/ire/world/BasicTextAdventure.class
out/production/IdeaProjects/ire/world/Inventory.class
out/production/IdeaProjects/ire/world/Item.class
out/production/IdeaProjects/ire/world/Room.class
out/production/IdeaProjects/META-INF/MANIFEST.MF
SaveFile.txt
/.idea/shelf/
/out/production/IdeaProjects/ire/combat/statuseffects/generativeeffect/GenerativeEffect.class
/out/production/IdeaProjects/ire/combat/statuseffects/stateffects/AttackDown.class
/out/production/IdeaProjects/ire/combat/statuseffects/stateffects/StatEffect.class
/out/production/IdeaProjects/module-info.class
