
SaveFile.txt
IdeaProjects.iml
.idea/*
out/production/*
out/artifacts/run.bat
out/artifacts/runShortcut.ahk
out/artifacts/SaveFile.txt
out/artifacts/sounds/*
out/artifacts/startArt.txt
IRE.iml
/target/
