
/.idea/
/out/
/target/
SaveFile.txt
IdeaProjects.iml
IRE.iml
/distributable/ire-1.0-SNAPSHOT-Main.jar
/distributable/runShortcut.ahk
/distributable/run.bat
/distributable/sounds/
/distributable/startArt.txt